# Imersão Python

Aula 2

## Importando bibliotecas

In [1]:
import pandas as pd

## Importando arquivos

In [5]:
## Importando aba "Principal (Dia)"

df_principal = pd.read_excel('Imersão PYTHON_V2.xlsx', sheet_name= "Principal (Dia)")
df_principal.head()

,Ativo,Data,Último (R$),Var. Dia (%),Variação Diaria,Val. Mín,Val. Máx,Valor Inicial (R$),Quantidade de Ações,Variação ($),Volume,Resultado,Nome da Empresa,Segmento,Idade,Faixa de Idade
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.18,9.56,9.030418,515117391,2.418897e+08,"319,16 M",Subiu,Usiminas,Siderurgia,65,Entre 50 a 100 anos
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.66,6.86,6.660156,1110559345,1.775160e+08,"32,65 M",Subiu,CSN Mineração,Mineração,52,Entre 50 a 100 anos
2,PETR3,2024-01-26,41.96,2.19,0.0219,40.81,42.34,41.060769,2379877655,2.140059e+09,"436,69 M",Subiu,Petrobras,Petróleo e Gás,72,Entre 50 a 100 anos
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.89,53.17,51.852215,683452836,7.229463e+08,"162,55 M",Subiu,Suzano,Papel e Celulose,94,Entre 50 a 100 anos
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.37,37.32,36.361854,187732538,1.385740e+08,"73,42 M",Subiu,CPFL Energia,Energia Elétrica,113,Mais que 100 anos

In [7]:
## Importando aba "Total de Açoes"

df_açoes = pd.read_excel('Imersão PYTHON_V2.xlsx', sheet_name= "Total de Ações")
df_açoes.head()

  Código  Qtde. Teórica
0  RRRP3   2.356656e+08
1  ALOS3   5.326166e+08
2  ALPA4   1.767340e+08
3  ABEV3   4.394246e+09
4  ARZZ3   6.230589e+07

In [8]:
## Importando aba "Ticker"


df_ticker = pd.read_excel('Imersão PYTHON_V2.xlsx', sheet_name= "Ticker")
df_ticker.head()

  Ticker            Nome
0  MGLU3  Magazine Luiza
1  HAPV3         Hapvida
2  PETR4       Petrobras
3  B3SA3              B3
4  USIM5        Usiminas

In [9]:
## Importando aba "Gemini"

df_gemini = pd.read_excel('Imersão PYTHON_V2.xlsx', sheet_name= "Gemini")
df_gemini.head()

  Nome da Empresa          Segmento  Idade (anos)
0        Usiminas        Siderurgia            65
1   CSN Mineração         Mineração            52
2       Petrobras    Petróleo e Gás            72
3          Suzano  Papel e Celulose            94
4    CPFL Energia  Energia Elétrica           113